@media (max-width: 579px) { 
    .in{
        min-width: 100% !important;
    }

    .abc{
        display: grid ;
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 1fr 1fr !important;
        align-content: center;
        max-height: 100%;
        /* background-color: blue !important; */

    }
    .navbar-brand{
        /* background-color: black !important; */
        font-size: 15px;

    }
    .nav1{
        max-width: 100%;
        /* background-color:brown; */
        float: left;

    }
    .nav12{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr;
        /* background-color: cadetblue; */

    }

    .nav2{
        /* background-color: blueviolet; */
        display: grid;
        float: right;
        margin-left: 5px;
        margin-top: 2px;
        grid-column: 2 /2;
    }
    span{
        margin-top: -0.1px;
    }

    .nav3{
        display: grid;
        float: right;
        max-width: 100%;
        grid-template-columns: 1fr 1fr !important;
    }

    .nav-item{
        max-width: 100%;
        font-size: 12px;
    }
    .navbar-collapse{
        float: left !important;
    }
    .nav-link{
    
    }
  
    .btn-outline-primary {
        min-width: 100% !important;
    }
    .search {
        margin-top: 50px;
        min-width: 100% !important;
    }

}

    .responsive{
        min-width: 100% !important;

    }
    .card{
        min-width: 100% !important;
    }



 @media(min-width:580px) and (max-width: 1000px){
     .responsive{
         min-width: 50% !important ;
         min-height: 185px !important;
         
     }
     .card{
        min-width: 50% !important;
        min-height: 185px !important;
    }
    .search{
        /* background-color: aqua; */
        
    }
    .search .responsive{
        /* background-color: blue; */
        min-width: 100%;
        align-content: center;
    }
    .search .card{
        min-width: 100%;
        margin-right: -200px;

    }
    
 }

 @media (min-width: 1001px) {
    .responsive{
        min-width: 33%;
    }
    .card{
        min-height: 200px;
    }
    .search{
        display: grid;
        /* background-color: aqua; */
        grid-template-columns: 1fr 1fr; 
        gap: 50px;

    }
    .search .responsive{
        /* background-color: blue; */
        min-width: 100%;
    }
    .search .card{
        min-width: 30%;
    }

 }
 