@media (max-width: 579px) { 
    .in{
        min-width: 100% !important;
    }

    .abc{
        display: grid ;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        max-height: 100%;
        /* background-color: blue !important; */
    }
    .navbar-brand{
        /* background-color: black !important; */
        font-size: 15px;
        margin-left: 50px;

    }
    .nav1{
        max-width: 100%;
        /* background-color:brown; */
        float: left;
        grid-area: 2 / 1;


    }
    .nav12{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    }
    .btn1{
        color: gray;
    }
    .nav2{
        /* background-color: blueviolet; */
        margin-left: 5px;
        margin-top: 2px;
        /* grid-area: 1 / 2; */
     }
   
    span{
        margin-top: -0.1px;
    }
    .nav-link{
        text-align: center;
    }
    
   
    .logout{
        display: grid;
    }

    .nav-item{
        max-width: 100%;
        font-size: 12px;
    }
    .navbar-collapse{
        float: left !important;
    }
        
  
    .btn-outline-primary {
        min-width: 100% !important;
    }
    .search {
        margin-top: 50px;
        min-width: 100% !important;
    }

}

    .responsive{
        min-width: 100% !important;

    }
    .card{
        min-width: 100% !important;
    }

    @media(min-width:580px) and (max-width: 700px){
        .responsive{
            min-width: 50% !important ;
            min-height: 185px !important;
            
        }
        .card{
           min-width: 50% !important;
           min-height: 185px !important;
       }
    
       .search .responsive{
           /* background-color: blue; */
           min-width: 100%;
           align-content: center;
       }
       .search .card{
           min-width: 100%;
           margin-right: -200px;
   
       }
       .nav12{
           display: grid;
           text-align: left;
           grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr  ;
       }
       .logout{
           grid-column: 7/8;
       }
       .name{
           grid-column: 6/7;
       }
       .btn1{
           color: gray;
       }
       .nav2{
           /* background-color: blueviolet; */
           margin-left: 5px;
           margin-top: 2px;
           /* grid-area: 1 / 2; */
   
        }
      
       span{
           margin-top: -0.1px;
       }
      
       .logout{
           display: grid;
       }
   
       .nav-item{
           max-width: 100%;
           font-size: 12px;
       }
       .navbar-collapse{
           float: left !important;
       }
       
    }
    
    

 @media(min-width:700px) and (max-width: 1000px){
     .responsive{
         min-width: 50% !important ;
         min-height: 185px !important;
         
     }
     .card{
        min-width: 50% !important;
        min-height: 185px !important;
    }
  
    .search .responsive{
        /* background-color: blue; */
        min-width: 100%;
        align-content: center;
    }
    .search .card{
        min-width: 100%;
        margin-right: -200px;

    }
    .nav12{
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr 6fr 2fr 1fr;
    }
    .logout{
        grid-column: 8/9;
    }
    .name{
        grid-column: 7/8;
    }
    .btn1{
        color: gray;
    }
    .nav2{
        /* background-color: blueviolet; */
        margin-left: 5px;
        margin-top: 2px;
        /* grid-area: 1 / 2; */

     }
   
    span{
        margin-top: -0.1px;
    }

    .nav3{
    }
    .logout{
        display: grid;
    }

    .nav-item{
        max-width: 100%;
        font-size: 12px;
    }
    .navbar-collapse{
        float: left !important;
    }
    
 }

 @media (min-width: 1001px) {
    .responsive{
        min-width: 33%;
    }
    .card{
        min-height: 200px;
    }
  
    .search .responsive{
        /* background-color: blue; */
        min-width: 100%;
    }
    .search .card{
        min-width: 30%;
    }
    .nav12{
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr 7fr 2fr 1fr  ;
    }
    .logout{
        display: grid;
        grid-column: 6;
    }
    .name{
        display: grid;
        grid-column: 5;
    }

 }
 